
.h2-auth-class{
    text-align: center;
    color: #c22;
    
}

.container-auth{
    margin: 20px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    width: 600px;
    border: 2px solid #c22;
}


.space-auth { /* Новый родительский контейнер */
    display: flex;
    flex-direction: column; /* Выравнивание по вертикали */
    height: 100vh; /* Занимает всю высоту viewport */
    align-items: center; /* Центрирование по горизонтали */
}

.container-header-auth{
    text-align: center;
    margin:5px;
    font-size: 20px;
}

.h2-auth-to-reg{
    color: #c22;
    text-decoration: underline;
    text-decoration-color: #c22;; /* Замените blue на нужный цвет */
}

.container-data-auth{
    gap: 10px;
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    
}

.container-data-auth input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* Учитывает padding и border в ширину */
}

.button-auth{
    font-size: 16px;
    border-radius: 10px;
    margin: 0px;
    width: 212px;
}

.super-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Выравнивает элементы по вертикали */
    justify-content: start; /* Равномерно распределяет элементы */
    width: 100%;
    justify-content: space-between;
}


.h2-auth-class {
    color: #c22; /* Убрали margin-top */
}

.h2-auth-prods-auth{
    color: #c22; /* Убрали margin-top */
    font-size: 32px;
    font-weight: 600;
    margin-right: 60px;
}
 