@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/**/

.space{
    cursor: auto;
    font-family: 'Golos Text', sans-serif;
}

.header{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button[name="home-button"] {
    border:none;
    height: 120px;
    width: 120px;
    background-image: url("../assets/mos_logo.png");
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}


.navigation_line {
    margin-right: 10px;
    display: flex; /* Используем Flexbox для контейнера */
    align-items: center; /* Вертикальное центрирование элементов */
    margin-left: 150px;
    margin-top:20px;
}

form {
    display: flex; /* Используем Flexbox для формы */
    align-items: center; /* Центрируем элементы по вертикали */
    width: 100%;
}

.search_field {
    background-color: #d3d3d3; /* Светло-серый фон */
    border: none; /* Без границы */
    border-radius: 15px; /* Закругление углов */
    padding: 10px; /* Отступы внутри поля ввода */
    font-size: 20px; /* Размер шрифта */
    margin-right: 10px; /* Отступ между полем ввода и кнопкой */
}


/* CSS для кнопки поиска */
.button-def{
    font-size: 20px;
    border: 2px solid #c22; /* Без границы */
    border-radius: 15px; /* Закругление углов у кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
    background: white;
    color: black; /* Цвет текста кнопки */
   
}

.profile-button{
    font-size: 20px;
    border: none;
    border-radius: 15px; /* Закругление углов у кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
    background: none;
    color: black; /* Цвет текста кнопки */
}

.container-main {
    margin-left: 150px;
    margin-right: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    border: 2px solid #c22;
    border-radius: 20px;
    justify-items: center;
    margin-bottom: 20px;
}

.card{
    margin: 10px;
    width: 380px;
    border-radius: 20px;
    border: none;
    background-color: #f4f4f4;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.card-text{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.card-image{
    width: 150px;
    height: 211px;
    border-radius: 20px;
    object-fit: cover;
}

.card-image-container{
    width: 150px;
}

.title-in-card{
    font-size: 18px;
    font-weight: bold;
}

.crumbs{
    margin-left: 130px;
}

.profile-button, .auth-button {
    font-size: 32px; /* Размер текста как у h2-auth-prods */
    font-weight: 600; /* Толщина текста */
    color: #c22; /* Цвет текста */
    cursor: pointer; /* Указатель при наведении */
    background: none; /* Убираем фон */
    border: none; /* Убираем границы */
    margin-left: 20px; /* Отступ для кнопок */
    padding: 0; /* Убираем внутренние отступы */
}





.card-button{
    border-radius: 10px;
    border: 2px solid #c22;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background: none;
}

.card-button:hover {
    background-color: #fff0f0;
}

.buttons-in-card{
    display: flex;
}

.meals-count {
    background-color: #c22; /* Красный фон для счетчика */
    color: white; /* Цвет текста счетчика */
    border-radius: 50%; /* Кружочек */
    padding: 2px 6px; /* Внутренние отступы для кружочка */
    font-weight: bold; /* Жирный шрифт */
}

.search_field {
    width: 100%; /* Занимает всю ширину родительского контейнера */
    padding: 10px; /* Добавление внутренних отступов для удобства */
    box-sizing: border-box; /* Учитывает внутренние отступы и рамки в общей ширине */
}

.super-header-main {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Выравнивает элементы по вертикали */
    justify-content: start; /* Равномерно распределяет элементы */
    width: 100%;
    gap:40px;
}

.user-actions{
    display: flex;
    flex-direction: row;
    align-items: center; /* Выравнивает элементы по вертикали */
    justify-content: start; /* Равномерно распределяет элементы */
    gap:40px;
}

@media (max-width: 1350px) {
    .container-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 940px){
    .container-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {

    .button{
        margin: 0px;
    }

    .crumbs{
        margin-left: -10px;
    }
    
    .container-main {
        grid-template-columns: 1fr; /* Одну карточку в колонке */
        margin-left: 5px; /* Уменьшаем отступ слева */
        margin-right: 10px; /* Уменьшаем отступ справа */
        width: 91%;
    }

    /* Настройка карточек для мобильных устройств */
    .card {
        width: 95%; /* Карточки занимают всю доступную ширину */
        margin: 10px 0; /* Добавляем вертикальные отступы между карточками */
    }

    /* Карточки могут занимать всю ширину, но изображения могут быть меньше */
    .card-image {
        width: 100%; /* Растягиваем изображение на всю ширину карточки */
        height: auto; /* Сохраняем пропорции изображения */
    }

    /* Уменьшаем размер шрифта в карточках на мобильных устройствах */
    .title-in-card {
        font-size: 16px; /* Уменьшаем размер шрифта */
    }

    /* Кнопка в карточке */
    .card-button {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки */
        padding: 6px 10px; /* Уменьшаем отступы */
    }

    /* Поиск */
    .navigation_line {
        margin-left: 10px; /* Уменьшаем отступ */
        margin-right: 10px; /* Уменьшаем отступ */
    }

    .search_field {
        font-size: 16px; /* Уменьшаем размер шрифта в поле поиска */
        padding: 8px; /* Уменьшаем внутренние отступы */
        width: 69%;
    }

    button[type="submit"] {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки поиска */
        padding: 8px 10px; /* Уменьшаем отступы */
    }
}


@media (max-width: 470px) {

    .button{
        margin: 0px;
    }
    /* Изменяем контейнер карточек для мобильных устройств */
    .container-main {
        grid-template-columns: 1fr; /* Одну карточку в колонке */
        margin-left: 5px; /* Уменьшаем отступ слева */
        margin-right: 10px; /* Уменьшаем отступ справа */
        width: 91%;
    }

    /* Настройка карточек для мобильных устройств */
    .card {
        width: 95%; /* Карточки занимают всю доступную ширину */
        margin: 10px 0; /* Добавляем вертикальные отступы между карточками */
    }

    /* Карточки могут занимать всю ширину, но изображения могут быть меньше */
    .card-image {
        width: 100%; /* Растягиваем изображение на всю ширину карточки */
        height: auto; /* Сохраняем пропорции изображения */
    }

    /* Уменьшаем размер шрифта в карточках на мобильных устройствах */
    .title-in-card {
        font-size: 16px; /* Уменьшаем размер шрифта */
    }

    /* Кнопка в карточке */
    .card-button {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки */
        padding: 6px 10px; /* Уменьшаем отступы */
    }

    /* Поиск */
    .navigation_line {
        margin-left: 10px; /* Уменьшаем отступ */
        margin-right: 10px; /* Уменьшаем отступ */
    }

    .search_field {
        font-size: 16px; /* Уменьшаем размер шрифта в поле поиска */
        padding: 8px; /* Уменьшаем внутренние отступы */
        width: 69%;
    }

    

    button[type="submit"] {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки поиска */
        padding: 8px 10px; /* Уменьшаем отступы */
    }
}

